@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans:wght@300&display=swap");
.btn-submit {
  border-radius: 0.25rem;
  border: none;
  margin: 10px;
  padding: 0.5rem 1.75rem; }
  .btn-submit:hover {
    background: green;
    color: black;
    cursor: pointer; }
  .btn-submit a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    color: white; }

.btn-reset {
  border-radius: 0.25rem;
  border: none;
  margin: 10px;
  padding: 0.5rem 1.75rem; }
  .btn-reset:hover {
    background: red;
    color: black;
    cursor: pointer; }

* {
  font-size: 85%;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem; }

html {
  font-size: 85%; }

h1,
h2,
h3 {
  color: #da7294;
  font-family: "Cabin", sans-serif;
  text-align: center; }

h1 {
  font-size: 2rem;
  padding-top: 10px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 1rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem; } }

body {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden; }

.encabezado__box {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #eee3e6;
  padding: 10px 10px; }
  @media (min-width: 768px) {
    .encabezado__box {
      font-size: 1.6rem;
      padding-bottom: 40px; } }

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "nav" "filtros" "productos" "aside" "footer"; }

#nav1 {
  grid-area: nav;
  height: 17vh; }

#header {
  grid-area: header;
  height: 6vh; }

#filtros {
  grid-area: filtros; }

#productos {
  grid-area: productos;
  padding-bottom: 10px; }

#aside {
  grid-area: aside; }

#footer {
  grid-area: footer;
  padding-top: 10px; }

@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 30vw 70vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header" "nav nav" "filtros filtros" "productos productos" "aside aside" "footer footer"; }
  .sobreMi__article--fotoMarian {
    width: 300px; }
  .carousel-inner img {
    width: 80%; } }

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header" "nav nav nav" "filtros productos aside" "footer footer footer"; }
  .carousel-inner img {
    width: 70%; } }

.bg-nav {
  background-color: #f1b3b1;
  padding: 5px; }
  .bg-nav ul li {
    margin-right: 20px;
    background-color: #f1b3b1; }
  .bg-nav a {
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2rem;
    position: sticky; }
    .bg-nav a:hover {
      color: #ff8173; }
    @media (min-width: 768px) {
      .bg-nav a {
        font-size: 1.5rem; } }
    @media (min-width: 1024px) {
      .bg-nav a {
        font-size: 1.5rem; } }

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem; }

.navbar-toggler-icon img {
  width: 100%; }

.navbar-brand img {
  width: 60%; }
  @media (min-width: 1024px) {
    .navbar-brand img {
      width: 70%; } }

#navbarSupportedContent {
  z-index: 1; }

.imgNav {
  width: 8%;
  margin: 4px; }
  @media (min-width: 768px) {
    .imgNav {
      width: 5%; } }
  @media (min-width: 1024px) {
    .imgNav {
      width: 60%; } }

.footer {
  background-color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-evenly; } }
  .footer div {
    margin-bottom: 10px; }
  .footer h3 {
    color: #da7294;
    font-size: 1rem;
    margin-bottom: 2px; }
    @media (min-width: 768px) {
      .footer h3 {
        font-size: 1.2rem; } }

.footer__image {
  width: 50px; }
  @media (min-width: 768px) {
    .footer__image {
      width: 140px; } }

.footer__icon {
  width: 20px;
  margin-left: 4px;
  padding-top: -20px; }
  @media (min-width: 768px) {
    .footer__icon {
      width: 30px; } }

.carousel-index {
  size: 20%;
  padding: 20px; }
  .carousel-index img {
    width: 80%;
    margin: auto; }

.galeria_disenios a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bolder; }
  .galeria_disenios a:hover {
    color: #ff8173; }

.galeria_disenios h2 {
  padding-top: 10px;
  margin-bottom: -2px; }

.galeria_disenios {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.encabezadoCarousel {
  width: 80%;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #d9b6bd; }

.carousel {
  width: 80%;
  margin-bottom: 20px; }

.carousel-inner img {
  width: 260px;
  height: 100px; }
  @media (min-width: 768px) {
    .carousel-inner img {
      width: 600px;
      height: 200px; } }
  @media (min-width: 1024px) {
    .carousel-inner img {
      width: 600px;
      height: 200px; } }

.nav2 {
  background-color: #ffd3ca;
  padding: 0.5rem;
  font-size: 1rem;
  font-size: 1.5rem; }
  .nav2 li {
    list-style: none;
    font-size: 1rem; }
    @media (min-width: 768px) {
      .nav2 li {
        font-size: 1.5rem; } }
  .nav2 ul {
    padding-left: 0; }

a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bolder; }
  a:hover {
    color: #ff8173; }
  @media (min-width: 768px) {
    a {
      font-size: 2rem; } }

.estampadosNav2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  margin: 0px; }
  .estampadosNav2 label {
    font-size: 1.2rem; }
  .estampadosNav2 h3 {
    font-size: 1.2rem;
    padding-top: 10px; }
  @media (min-width: 1024px) {
    .estampadosNav2 span {
      padding-top: 6px; } }

#aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly; }
  @media (min-width: 768px) {
    #aside {
      display: flex;
      flex-direction: row;
      text-align: center; } }
  @media (min-width: 1024px) {
    #aside {
      display: flex;
      flex-direction: column;
      text-align: center; } }
  #aside figcaption {
    font-size: 1rem;
    font-weight: bolder; }

img {
  width: 20%; }
  @media (min-width: 768px) {
    img {
      width: 30%; } }
  @media (min-width: 1024px) {
    img {
      width: 70%; } }

.row {
  justify-content: center; }

.card {
  align-items: center;
  width: 90%;
  background-color: antiquewhite;
  margin: 20px; }
  @media (min-width: 768px) {
    .card {
      height: 100%;
      margin: 0px; } }
  @media (min-width: 1024px) {
    .card {
      width: 100%; } }

.container-fluid h3 {
  font-size: 0.8rem;
  color: #ff8173;
  font-style: italic; }

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  padding: -1px 15px;
  margin: 0px; }
  .card-body h4 {
    padding-top: 10px;
    font-size: 1.2rem;
    color: #ff8173; }
    @media (min-width: 768px) {
      .card-body h4 {
        font-size: 1.5rem; } }
  .card-body p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0px;
    line-height: 2rem; }
    @media (min-width: 768px) {
      .card-body p {
        font-size: 1.5rem; } }
    @media (min-width: 1024px) {
      .card-body p {
        font-size: 1.3rem; } }

.card-img-top {
  padding-top: 10px;
  width: 70%; }
  @media (min-width: 1024px) {
    .card-img-top {
      width: 100%; } }

.btn, .btn-submit, .btn-reset {
  background-color: #ff8173;
  color: white;
  font-weight: bolder; }

.sobreMi__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  background-color: white;
  width: 80%;
  height: auto;
  margin: 20px auto;
  border: dotted 6px #d9b6bd;
  padding: 20px 20px;
  box-sizing: border-box;
  padding-top: 4px;
  line-height: 1.8rem; }
  @media (min-width: 768px) {
    .sobreMi__article {
      font-size: 1.5rem;
      line-height: 3rem; } }

.sobreMi__article--fotoMarian {
  width: 150px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .sobreMi__article--fotoMarian {
      width: 300px; } }

span p {
  background-color: #ff8173;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin: 20px; }

.card-title {
  text-align: center;
  font-weight: bolder; }

.section_contacto {
  margin: 20px; }

.col-form-label {
  font-size: 1.2rem; }

#formularioContacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
  background-color: #d9b6bd; }

article {
  justify-content: center; }
  article h2 {
    font-size: 2rem; }

.img-thumbnail {
  width: 100%;
  height: 100%; }

.error404 {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .error404 h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 20px; }
    @media (min-width: 768px) {
      .error404 h1 {
        font-size: 2.5rem; } }
  .error404 img {
    width: 100%; }
    @media (min-width: 768px) {
      .error404 img {
        width: 80%; } }
    @media (min-width: 1024px) {
      .error404 img {
        width: 60%; } }
  .error404 p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #da7294; }
    @media (min-width: 728px) {
      .error404 p {
        font-size: 2.5rem; } }
  .error404 a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder; }
    .error404 a:hover {
      color: #ff8173; }
    @media (min-width: 728px) {
      .error404 a {
        font-size: 2.5rem; } }
