@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans:wght@300&display=swap");
.btn-submit {
  border-radius: 0.25rem;
  border: none;
  margin: 10px;
  padding: 0.5rem 1.75rem; }
  .btn-submit:hover {
    background: green;
    color: black;
    cursor: pointer; }
  .btn-submit a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    color: white; }

.btn-reset {
  border-radius: 0.25rem;
  border: none;
  margin: 10px;
  padding: 0.5rem 1.75rem; }
  .btn-reset:hover {
    background: red;
    color: black;
    cursor: pointer; }

* {
  font-size: 85%;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem; }

html {
  font-size: 85%; }

h1,
h2,
h3 {
  color: #da7294;
  font-family: "Cabin", sans-serif;
  text-align: center; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.2rem; }

h3 {
  font-size: 0.8rem; }

body {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  box-sizing: border-box; }

.encabezado__box {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #eee3e6;
  padding: 10px 10px; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "nav" "filtros" "productos" "aside" "footer"; }

#nav1 {
  grid-area: nav;
  height: 10vh; }

#header {
  grid-area: header;
  height: 6vh; }

#filtros {
  grid-area: filtros; }

#productos {
  grid-area: productos; }

#aside {
  grid-area: aside; }

#footer {
  grid-area: footer; }

@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 30vw 70vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header" "nav nav" "filtros filtros" "productos productos" "aside aside" "footer footer"; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
  .sobreMi__article--fotoMarian {
    width: 300px; }
  .encabezado__box {
    font-size: 1.6rem;
    padding-bottom: 40px; }
  .carousel-inner img {
    width: 80%; } }

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header" "nav nav nav" "filtros productos aside" "footer footer footer"; }
  .carousel-inner img {
    width: 70%; } }

.bg-nav {
  background-color: white;
  padding: 10px; }
  .bg-nav ul li {
    margin-right: 20px;
    background-color: white; }
  .bg-nav a {
    font-size: 1rem;
    color: #f3a4a2;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px; }
    .bg-nav a:hover {
      color: #ff8173; }

#navbarSupportedContent {
  z-index: 1; }

.imgNav {
  width: 4%; }

nav img {
  width: 50%; }

#nav1 {
  height: 15vh; }

@media (min-width: 768px) {
  .bg-nav {
    background-color: white; }
    .bg-nav ul li a {
      font-size: 1rem; } }

@media (min-width: 1024px) {
  nav img {
    width: 70%; }
  #nav1 li a {
    font-size: 1.5rem; }
  .imgNav {
    width: 60%; } }

.footer {
  background-color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .footer div {
    margin-bottom: 10px; }
  .footer h3 {
    color: #ff8173;
    font-size: 0.8rem; }

.footer__image {
  width: 50px; }

.footer__icon {
  width: 20px;
  margin-left: 6px;
  padding-top: -20px; }

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly; }
    .footer h3 {
      font-size: 1.2rem; }
  .footer__image {
    width: 140px; }
  .footer__icon {
    width: 30px; } }

.carousel-index {
  size: 40%;
  padding: 20px; }
  .carousel-index img {
    width: 80%;
    margin: auto; }

.galeria_disenios {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.encabezadoCarousel {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 60px; }

h1 a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bolder; }
  h1 a:hover {
    color: #ff8173; }

.carousel {
  width: 100%; }

.carousel-inner img {
  width: 600px;
  height: 200px;
  padding: 0px; }

.nav2 {
  background-color: #ffd3ca;
  padding: 0.5rem;
  font-size: 1rem;
  font-size: 1.5rem; }
  .nav2 li {
    list-style: none;
    font-size: 1rem; }
    @media (min-width: 768px) {
      .nav2 li {
        font-size: 1.5rem; } }
  .nav2 ul {
    padding-left: 0; }

a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bolder; }
  a:hover {
    color: #ff8173; }
  @media (min-width: 768px) {
    a {
      font-size: 2rem; } }

#aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly; }
  @media (min-width: 768px) {
    #aside {
      display: flex;
      flex-direction: row;
      text-align: center; } }
  @media (min-width: 1024px) {
    #aside {
      display: flex;
      flex-direction: column;
      text-align: center; } }
  #aside figcaption {
    font-size: 1rem;
    font-weight: bolder; }

img {
  width: 20%; }
  @media (min-width: 768px) {
    img {
      width: 30%; } }
  @media (min-width: 1024px) {
    img {
      width: 70%; } }

.row {
  justify-content: center; }

.card {
  align-items: center;
  width: 90%;
  background-color: #ffd3ca; }
  @media (min-width: 1024px) {
    .card .card {
      width: 100%; } }

.container-fluid h3 {
  color: #ff8173;
  font-style: italic; }

.card-body {
  background-color: #ffd3ca;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 80%; }
  .card-body h2 {
    font-size: 1.5rem; }
  .card-body p {
    font-size: 1rem;
    font-weight: bold; }
    @media (min-width: 768px) {
      .card-body p {
        font-size: 1.5rem; } }
  .card-body h4 {
    color: #ff8173; }
  @media (min-width: 1024px) {
    .card-body h2 {
      font-size: 1.2rem; }
    .card-body p {
      font-size: 1.2rem; } }

.card-img-top {
  width: 70%;
  background-color: #ffd3ca; }
  @media (min-width: 1024px) {
    .card-img-top {
      width: 100%; } }

.btn, .btn-submit, .btn-reset {
  background-color: #ff8173;
  color: white;
  font-weight: bolder; }

.sobreMi__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  background-color: white;
  width: 80%;
  height: auto;
  margin: 20px auto;
  border: dotted 6px #ffd3ca;
  padding: 20px 20px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .sobreMi__article {
      font-size: 1.5rem; } }

.sobreMi__article--fotoMarian {
  width: 150px; }
  @media (min-width: 768px) {
    .sobreMi__article--fotoMarian {
      width: 300px; } }

.card-title {
  text-align: center;
  font-weight: bolder; }

.col-form-label {
  font-size: 1.2rem; }

#formularioContacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
  background-color: #d9b6bd; }

article {
  display: flex;
  justify-content: center; }
  article h2 {
    font-size: 2rem; }

.img-thumbnail {
  width: 100%; }

.error404 {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .error404 h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 20px; }
    @media (min-width: 768px) {
      .error404 h1 {
        font-size: 2.5rem; } }
  .error404 img {
    width: 100%; }
    @media (min-width: 768px) {
      .error404 img {
        width: 80%; } }
    @media (min-width: 1024px) {
      .error404 img {
        width: 60%; } }
  .error404 p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #da7294; }
    @media (min-width: 728px) {
      .error404 p {
        font-size: 2.5rem; } }
  .error404 a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder; }
    .error404 a:hover {
      color: #ff8173; }
    @media (min-width: 728px) {
      .error404 a {
        font-size: 2.5rem; } }
