@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans:wght@300&display=swap");
.btn-submit {
  border-radius: 0.25rem;
  border: none;
  margin: 0.625rem;
  padding: 0.5rem 1.75rem; }
  .btn-submit:hover {
    background: green;
    color: black;
    cursor: pointer; }
  .btn-submit a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bolder;
    color: white; }

.btn-reset {
  border-radius: 0.25rem;
  border: none;
  margin: 0.625rem;
  padding: 0.5rem 1.75rem; }
  .btn-reset:hover {
    background: red;
    color: black;
    cursor: pointer; }
  .btn-reset a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bolder;
    color: white; }

* {
  font-size: 85%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem; }

html {
  font-size: 85%; }

h1,
h2,
h3 {
  color: #da7294;
  font-family: "Cabin", sans-serif;
  text-align: center; }

h1 {
  font-size: 2rem;
  padding-top: 1rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 1.7rem;
  padding-bottom: 0.625rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 1rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem; } }

body {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden; }

.encabezado__box {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #eee3e6;
  padding: 0.625rem 0.625rem; }
  @media (min-width: 768px) {
    .encabezado__box {
      font-size: 1.6rem;
      padding-bottom: 2.5rem; } }

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "nav" "filtros" "productos" "aside" "footer"; }

#nav1 {
  grid-area: nav; }
  @media (min-width: 1024px) {
    #nav1 {
      padding: 1.563rem; } }

#header {
  grid-area: header;
  height: 6vh; }

#filtros {
  grid-area: filtros; }

#productos {
  grid-area: productos; }

#aside {
  grid-area: aside; }

#footer {
  grid-area: footer; }

@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 30vw 70vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header" "nav nav" "filtros filtros" "productos productos" "aside aside" "footer footer"; } }

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header" "nav nav nav" "filtros productos aside" "footer footer footer"; } }

.bg-nav {
  background-color: #f1b3b1;
  padding: 0.313rem; }
  .bg-nav ul li {
    margin-right: 1.25rem;
    background-color: #f1b3b1; }
  .bg-nav a {
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2rem; }
    .bg-nav a:hover {
      color: #ff8173; }
    @media (min-width: 768px) {
      .bg-nav a {
        font-size: 1.5rem; } }
    @media (min-width: 1024px) {
      .bg-nav a {
        font-size: 1.5rem; } }

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bolder; }
  @media (min-width: 1024px) {
    .navbar-nav .nav-link {
      font-size: 1.5rem; } }

.navbar-toggler-icon img {
  width: 100%; }

.navbar-brand img {
  width: 60%; }
  @media (min-width: 768px) {
    .navbar-brand img {
      width: 80%; } }
  @media (min-width: 1024px) {
    .navbar-brand img {
      width: 85%; } }

#navbarSupportedContent {
  z-index: 1; }

.imgNav {
  width: 8%;
  margin: 0.25rem; }
  @media (min-width: 768px) {
    .imgNav {
      width: 5%; } }
  @media (min-width: 1024px) {
    .imgNav {
      width: 60%; } }

#footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 0.25rem; }
  #footer h3 {
    color: #da7294;
    font-size: 0.9rem;
    margin-bottom: 0.3rem; }
    @media (min-width: 768px) {
      #footer h3 {
        font-size: 1.2rem; } }
    @media (min-width: 1024px) {
      #footer h3 {
        font-size: 1.4rem; } }
  #footer .footer__image {
    width: 5rem;
    padding-bottom: 1rem; }
    @media (min-width: 768px) {
      #footer .footer__image {
        width: 7rem; } }
  #footer a {
    text-decoration: none; }
  #footer .footer__icon {
    width: 2rem; }
    @media (min-width: 768px) {
      #footer .footer__icon {
        width: 2.5rem; } }

.carousel-index {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .carousel-index img {
    width: 85%;
    border-radius: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 4rem; }
    @media (min-width: 768px) {
      .carousel-index img {
        width: 65%; } }
    @media (min-width: 1024px) {
      .carousel-index img {
        width: 70%; } }

.nav2 {
  background-color: #ffd3ca; }

.estampadosNav2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }
  .estampadosNav2 select {
    font-size: 1.1rem;
    border-radius: 0.5rem; }
  .estampadosNav2 label {
    font-size: 1.1rem; }
  .estampadosNav2 h3 {
    font-size: 1.2rem;
    display: flex; }
  @media (min-width: 768px) {
    .estampadosNav2 {
      justify-content: space-evenly;
      align-items: flex-start; }
      .estampadosNav2 h3 {
        font-size: 1.5rem; }
      .estampadosNav2 select {
        font-size: 1.3rem;
        width: 100%; }
      .estampadosNav2 label {
        font-size: 1.3rem; } }
  @media (min-width: 1024px) {
    .estampadosNav2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: flex-start;
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem; }
      .estampadosNav2 span {
        padding-top: 0.375rem; }
      .estampadosNav2 label {
        font-size: 1.4rem; }
      .estampadosNav2 div {
        padding-bottom: 1.5rem; } }
  .estampadosNav2 .checkboxDiseños {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start; }
    @media (min-width: 768px) {
      .estampadosNav2 .checkboxDiseños {
        display: flex;
        flex-direction: column;
        text-align: center; } }

#productos h2 a {
  font-size: 1.5rem;
  text-decoration: none; }
  @media (min-width: 768px) {
    #productos h2 a {
      font-size: 1.8rem; } }

#productos h3 {
  color: #ff8173;
  font-style: italic;
  margin-top: -0.375rem; }
  @media (min-width: 768px) {
    #productos h3 {
      font-size: 1.2rem;
      margin-bottom: 0.625rem; } }

#aside {
  background-color: #ffd3ca;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 768px) {
    #aside {
      display: flex;
      flex-direction: row;
      text-align: center; } }
  @media (min-width: 1024px) {
    #aside {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around; } }
  #aside figcaption {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding: 1rem; }

img {
  width: 20%; }
  @media (min-width: 768px) {
    img {
      width: 35%; } }
  @media (min-width: 1024px) {
    img {
      width: 65%; } }

.row {
  display: flex;
  justify-content: space-around; }

.card {
  align-items: center;
  width: 100%;
  background-color: #fcd7cb; }
  @media (min-width: 768px) {
    .card {
      height: 100%;
      margin: 0; } }
  @media (min-width: 1024px) {
    .card {
      width: 100%; } }

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  margin: 0; }
  .card-body h4 {
    padding-top: 0.625rem;
    font-size: 1.2rem;
    color: #ff8173; }
    @media (min-width: 768px) {
      .card-body h4 {
        font-size: 1.5rem; } }
  .card-body p {
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem; }
    .card-body p b {
      font-size: 1.3rem; }
    @media (min-width: 768px) {
      .card-body p {
        font-size: 1.5rem; }
        .card-body p b {
          font-size: 1.5rem; } }
    @media (min-width: 1024px) {
      .card-body p {
        line-height: 2.5rem; } }

.card-title {
  text-align: center;
  font-weight: bolder; }

.card-img-top {
  padding-top: 0.25rem;
  width: 70%;
  border-radius: 0.4rem; }
  @media (min-width: 1024px) {
    .card-img-top {
      width: 100%; } }

.btn, .btn-submit, .btn-reset {
  background-color: #ff8173;
  color: white;
  font-weight: bolder; }

.galeria_disenios {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .galeria_disenios h2 {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: -0.625rem; }
    @media (min-width: 768px) {
      .galeria_disenios h2 {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.8rem; } }
    @media (min-width: 1024px) {
      .galeria_disenios h2 {
        font-size: 2.2rem; } }
  .galeria_disenios a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder; }
    .galeria_disenios a:hover {
      color: #ff8173; }
    @media (min-width: 768px) {
      .galeria_disenios a {
        font-size: 2rem; } }
    @media (min-width: 1024px) {
      .galeria_disenios a {
        font-size: 2rem; } }
  .galeria_disenios .encabezadoCarousel {
    width: 69%;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 0.625rem;
    margin-bottom: 0;
    background-color: #d9b6bd; }
    @media (min-width: 768px) {
      .galeria_disenios .encabezadoCarousel {
        font-size: 1.8rem;
        width: 67%;
        margin-top: 1rem; } }
    @media (min-width: 1024px) {
      .galeria_disenios .encabezadoCarousel {
        font-size: 2rem;
        width: 71%;
        margin-top: 2rem; } }
  .galeria_disenios .carousel {
    width: 80%;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .galeria_disenios .carousel {
        margin-bottom: 4rem; } }
  .galeria_disenios .carousel-inner img {
    width: 16.25rem;
    height: 6.875rem; }
    @media (min-width: 768px) {
      .galeria_disenios .carousel-inner img {
        width: 37.5rem;
        height: 15rem; } }

.sobreMi__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  background-color: white;
  width: 80%;
  height: auto;
  margin: 20px auto;
  border: dotted 0.375rem #d9b6bd;
  padding: 1.25rem 1.25rem;
  box-sizing: border-box;
  padding-top: 0.25rem;
  line-height: 1.8rem;
  border-radius: 0.5rem; }
  @media (min-width: 1024px) {
    .sobreMi__article {
      width: 100%; } }
  .sobreMi__article b {
    font-size: 1rem; }
  @media (min-width: 768px) {
    .sobreMi__article {
      font-size: 1.5rem;
      line-height: 3rem; }
      .sobreMi__article b {
        font-size: 1.5rem; } }
  .sobreMi__article .sobreMi__article--fotoMarian {
    width: 9.375rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    border-radius: 0.5rem;
    width: 90%; }
    @media (min-width: 768px) {
      .sobreMi__article .sobreMi__article--fotoMarian {
        width: 50%; } }
    @media (min-width: 1024px) {
      .sobreMi__article .sobreMi__article--fotoMarian {
        width: 55%; } }

.cuadroAclaracion {
  margin: 0;
  padding: 0; }
  .cuadroAclaracion p {
    background-color: #ff8173;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem; }
    @media (min-width: 768px) {
      .cuadroAclaracion p {
        font-size: 1.8rem; } }

.cardFaqs1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fcd7cb;
  margin-bottom: 2rem;
  border-radius: 0.5rem; }
  @media (min-width: 768px) {
    .cardFaqs1 {
      margin-bottom: 0;
      width: 45%; } }
  .cardFaqs1 img {
    width: 50%;
    margin-top: 1rem;
    border-radius: 0.5rem; }
    @media (min-width: 768px) {
      .cardFaqs1 img {
        width: 60%; } }
  @media (min-width: 768px) {
    .cardFaqs1 article {
      padding: 1.5rem; } }

.cardFaqs2 {
  align-items: center;
  background-color: #fcd7cb;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem; }
  .cardFaqs2 img {
    width: 50%;
    margin-top: 1rem;
    border-radius: 0.5rem; }
    @media (min-width: 768px) {
      .cardFaqs2 img {
        width: 60%; } }
  .cardFaqs2 article {
    padding-bottom: 1.5rem;
    padding-right: 0;
    padding-left: 0; }
    @media (min-width: 768px) {
      .cardFaqs2 article {
        padding: 1.5rem; } }

#formularioContacto {
  width: 100%;
  font-size: 1.4rem;
  background-color: #d9b6bd;
  padding: 0;
  margin: 0;
  border-radius: 0.4rem;
  margin-bottom: 1rem; }
  #formularioContacto article {
    justify-content: center; }
    #formularioContacto article form {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 1rem; }
  #formularioContacto legend {
    padding-top: 1.5rem; }
  #formularioContacto textarea {
    margin-top: 1rem; }
  #formularioContacto .form-check {
    margin-top: 0.625rem; }
  #formularioContacto .img-thumbnail {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0; }

.error404 {
  padding: 3.125rem 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .error404 h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1.25rem; }
    @media (min-width: 768px) {
      .error404 h1 {
        font-size: 2.5rem; } }
  .error404 img {
    width: 100%; }
    @media (min-width: 768px) {
      .error404 img {
        width: 80%; } }
    @media (min-width: 1024px) {
      .error404 img {
        width: 60%; } }
  .error404 p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #da7294; }
    @media (min-width: 728px) {
      .error404 p {
        font-size: 2.5rem; } }
  .error404 a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder; }
    .error404 a:hover {
      color: #ff8173; }
    @media (min-width: 728px) {
      .error404 a {
        font-size: 2.5rem; } }
