@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans:wght@300&display=swap");

@mixin texto($font-size, $color, $font-weight) {
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
}

@mixin flex($flex-direction, $text-align) {
  display: flex;
  flex-direction: $flex-direction;
  text-align: $text-align;
}

$paleta: (
  "uno": rgb(218, 114, 148),
  "dos": rgb(238, 227, 230),
  "tres": rgb(255, 211, 202),
  "cuatro": rgb(241, 179, 177),
  "cinco": rgb(217, 182, 189),
  "seis": rgb(255, 129, 115),
  "siete": rgb(243, 164, 162),
  "ocho": rgb(252, 215, 203),
  "nueve": white,
);

.btn-submit {
  @extend .btn;
  border-radius: 0.25rem;
  border: none;
  margin: 0.625rem;
  padding: 0.5rem 1.75rem;
  &:hover {
    background: green;
    color: black;
    cursor: pointer;
  }
  a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    color: map-get($map: $paleta, $key: "nueve");
  }
}

.btn-reset {
  @extend .btn;
  border-radius: 0.25rem;
  border: none;
  margin: 0.625rem;
  padding: 0.5rem 1.75rem;
  &:hover {
    background: red;
    color: black;
    cursor: pointer;
  }
}

* {
  font-size: 85%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

html {
  font-size: 85%;
}

h1,
h2,
h3 {
  color: map-get($map: $paleta, $key: "uno");
  font-family: "Cabin", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding-top: 0.625rem;
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

body {
  background-image: url(../img/background.png);
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden;
}

.encabezado__box {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: map-get($map: $paleta, $key: "dos");
  padding: 0.625rem 0.625rem;
  @media (min-width: 768px) {
    font-size: 1.6rem;
    padding-bottom: 2.5rem;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header"
    "nav"
    "filtros"
    "productos"
    "aside"
    "footer";
}
#nav1 {
  grid-area: nav;
  @media (min-width: 1024px) {
    padding: 1.563rem;
  }
}

#header {
  grid-area: header;
  height: 6vh;
}

#filtros {
  grid-area: filtros;
}

#productos {
  grid-area: productos;
}

#aside {
  grid-area: aside;
}

#footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 30vw 70vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "header header"
      "nav nav"
      "filtros filtros"
      "productos productos"
      "aside aside"
      "footer footer";
  }
}

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "filtros productos aside"
      "footer footer footer";
  }
}
