.carousel-index {
  @include flex(column, center);
  padding: 1.25rem;
  img {
    width: 85%;
    border-radius: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 0;
    @media (min-width: 768px) {
      width: 65%;
    }
    @media (min-width: 1024px) {
      width: 70%;
    }
  }
}

.nav2 {
  background-color: map-get($map: $paleta, $key: "tres");
}

.estampadosNav2 {
  @include flex(row, center);
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  select {
    font-size: 1.1rem;
    border-radius: 0.5rem;
  }
  label {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.2rem;
    display: flex;
  }
  @media (min-width: 768px) {
    justify-content: space-evenly;
    align-items: flex-start;
    h3 {
      font-size: 1.5rem;
    }
    select {
      font-size: 1.3rem;
      width: 100%;
    }
    label {
      font-size: 1.3rem;
    }
  }
  @media (min-width: 1024px) {
    @include flex(column, center);
    justify-content: flex-start;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    span {
      padding-top: 0.375rem;
    }
    label {
      font-size: 1.4rem;
    }
    div {
      padding-bottom: 1.5rem;
    }
  }
  .checkboxDiseños {
    @include flex(column, center);
    align-items: flex-start;
    @media (min-width: 768px) {
      @include flex(column, center);
    }
  }
}

#productos {
  h2 {
    a {
      font-size: 1.5rem;
      text-decoration: none;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
    }
  }
}

#aside {
  background-color: map-get($map: $paleta, $key: "tres");
  padding-top: 1rem;
  @include flex(column, center);
  @media (min-width: 768px) {
    @include flex(row, center);
  }
  @media (min-width: 1024px) {
    @include flex(column, center);
    justify-content: space-around;
  }
  figcaption {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding: 1rem;
  }
}
img {
  width: 20%;
  @media (min-width: 768px) {
    width: 35%;
  }
  @media (min-width: 1024px) {
    width: 65%;
  }
}

.row {
  display: flex;
  justify-content: space-around;
}

.catalogoProductos {
  margin: 0.25rem;
  h3 {
    font-size: 1rem;
    color: map-get($map: $paleta, $key: "seis");
    font-style: italic;
    margin-top: -0.375rem;
    margin-bottom: -0.625rem;
    @media (min-width: 768px) {
      font-size: 1.2rem;
      margin-bottom: 0.625rem;
    }
  }
  article {
    display: flex;
  }
}

.card {
  align-items: center;
  width: 100%;
  background-color: map-get($map: $paleta, $key: "ocho");
  @media (min-width: 768px) {
    height: 100%;
    margin: 0;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
}

.card-body {
  @include flex(column, center);
  justify-content: space-around;
  width: 100%;
  margin: 0;
  h4 {
    padding-top: 0.625rem;
    font-size: 1.2rem;
    color: map-get($map: $paleta, $key: "seis");
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
    b {
      font-size: 1rem;
    }
    @media (min-width: 768px) {
      font-size: 1.5rem;
      b {
        font-size: 1.5rem;
      }
    }
    @media (min-width: 1024px) {
      line-height: 2.5rem;
    }
  }
}

.card-title {
  text-align: center;
  font-weight: bolder;
}

.card-img-top {
  padding-top: 0.25rem;
  width: 70%;
  border-radius: 0.4rem;
  @media (min-width: 1024px) {
    width: 100%;
  }
}

.btn {
  background-color: map-get($map: $paleta, $key: "seis");
  color: map-get($map: $paleta, $key: "nueve");
  font-weight: bolder;
}

.galeria_disenios {
  @include flex(column, center);
  align-items: center;
  a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    &:hover {
      color: map-get($map: $paleta, $key: "seis");
    }
    @media (min-width: 768px) {
      font-size: 2rem;
    }
    @media (min-width: 1024px) {
      font-size: 2rem;
    }
  }
  h2 {
    font-size: 1.3rem;
    padding-top: 0.625rem;
    margin-bottom: -0.125rem;
    @media (min-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1.8rem;
    }
    @media (min-width: 1024px) {
      font-size: 2.2rem;
    }
  }
  .encabezadoCarousel {
    width: 69%;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 0.625rem;
    margin-bottom: 0;
    background-color: map-get($map: $paleta, $key: "cinco");
    @media (min-width: 768px) {
      font-size: 1.8rem;
      width: 67%;
      margin-top: 1rem;
    }
    @media (min-width: 1024px) {
      font-size: 2rem;
      width: 71%;
      margin-top: 2rem;
    }
  }
  .carousel {
    width: 80%;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 4rem;
    }
  }

  .carousel-inner img {
    width: 16.25rem;
    height: 6.875rem;
    @media (min-width: 768px) {
      width: 37.5rem;
      height: 15rem;
    }
  }
}

.sobreMi__article {
  @include flex(column, center);
  font-size: 1rem;
  background-color: map-get($map: $paleta, $key: "nueve");
  width: 80%;
  height: auto;
  margin: 20px auto;
  border: dotted 0.375rem map-get($map: $paleta, $key: "cinco");
  padding: 1.25rem 1.25rem;
  box-sizing: border-box;
  padding-top: 0.25rem;
  line-height: 1.8rem;
  border-radius: 0.5rem;
  b {
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 3rem;
    b {
      font-size: 1.5rem;
    }
  }
  .sobreMi__article--fotoMarian {
    width: 9.375rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
      width: 18.75rem;
    }
  }
}

.cuadroAclaracion {
  margin: 0;
  padding: 0;
  p {
    background-color: map-get($map: $paleta, $key: "seis");
    font-size: 1.2rem;
    font-weight: bolder;
    color: map-get($map: $paleta, $key: "nueve");
    text-align: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
}

.cardFaqs1 {
  @include flex(column, center);
  align-items: center;
  background-color: map-get($map: $paleta, $key: "ocho");
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 45%;
  }
  img {
    width: 50%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
      width: 60%;
    }
  }
  article {
    @media (min-width: 768px) {
      padding: 1.5rem;
    }
  }
}

.cardFaqs2 {
  align-items: center;
  background-color: map-get($map: $paleta, $key: "ocho");
  @include flex(column, center);
  border-radius: 0.5rem;
  img {
    width: 50%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    @media (min-width: 768px) {
      width: 60%;
    }
  }
  article {
    padding-bottom: 1.5rem;
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 768px) {
      padding: 1.5rem;
    }
  }
}

#formularioContacto {
  width: 100%;
  font-size: 1.4rem;
  background-color: map-get($map: $paleta, $key: "cinco");
  padding: 0;
  margin: 0;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  article {
    justify-content: center;
    h2 {
      font-size: 2rem;
    }
    form {
      @include flex(column, center);
      padding-top: 1rem;
    }
  }
  legend {
    padding-top: 1.5rem;
  }
  textarea {
    margin-top: 1rem;
  }
  .form-check {
    margin-top: 0.625rem;
  }
  .img-thumbnail {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
  }
}

.error404 {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1.25rem;
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  padding: 3.125rem 1.25rem;
  @include flex(column, center);
  align-items: center;
  img {
    width: 100%;
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 1024px) {
      width: 60%;
    }
  }
  p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: map-get($map: $paleta, $key: "uno");
    @media (min-width: 728px) {
      font-size: 2.5rem;
    }
  }
  a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    &:hover {
      color: map-get($map: $paleta, $key: "seis");
    }
    @media (min-width: 728px) {
      font-size: 2.5rem;
    }
  }
}
