//Page "Index"
.carousel-index {
  size: 20%;
  padding: 20px;
  img {
    width: 80%;
    margin: auto;
  }
}

//Page "Diseños Disponibles"

.galeria_disenios{
  a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bolder;
  &:hover {
    color: map-get($map: $paleta, $key: "seis");
  }
}
h2{
  padding-top: 10px;
  margin-bottom: -2px;
}
}

.galeria_disenios {
  @include flex(column, center);
  align-items: center;
}

.encabezadoCarousel {
  width: 80%;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: map-get($map: $paleta, $key: "cinco");
  @media (min-width: 768px) {
    font-size: 1.8rem;
    width: 78%;
  }
  @media (min-width: 768px) {
    font-size: 2rem;
    width: 80%;
  }
}

.carousel {
  width: 80%;
  margin-bottom: 20px;
}

.carousel-inner img {
  width: 260px;
  height: 110px;
  @media (min-width: 768px) {
    width: 600px;
    height: 240px;  
  }
}


//Page "Productos"
.nav2 {
  background-color: map-get($map: $paleta, $key: "tres");
  padding: 0.5rem;
  font-size: 1rem;
  font-size: 1.5rem;
  li {
    list-style: none;
    font-size: 1rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  ul {
    padding-left: 0;
  }
}
a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bolder;
  &:hover {
    color: map-get($map: $paleta, $key: "seis");
  }
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.estampadosNav2{
  @include flex(row, center);
  justify-content: space-evenly;
  align-items: flex-start;
  label{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1.2rem;
    padding-top: 10px;
  }
  height: 20vh;
  div{
    padding: 4px;
  }
  @media (min-width: 768px) {
    justify-content: space-evenly;
    align-items: flex-start;
}
  @media (min-width: 1024px) {
    @include flex(column, center);
    justify-content: flex-start;
    span{
    padding-top: 6px;
}
}
}

.checkboxDiseños{
  @include flex(column, center);
  align-items: flex-start;
  @media (min-width: 1024px) {
    @include flex(column, center);
}
}

#aside {
  @include flex(column, center);
  justify-content: space-evenly;
  @media (min-width: 768px) {
    @include flex(row, center);
  }
  @media (min-width: 1024px) {
    @include flex(column, center);
  }
  figcaption {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

img {
  width: 20%;
  @media (min-width: 768px) {
    width: 35%;
  }
  @media (min-width: 1024px) {
    width: 65%;
  }
}

.row {
  justify-content: center;
}

.card {
  align-items: center;
  width: 90%;
  background-color: map-get($map: $paleta, $key: "ocho");
  margin: 20px;
  @media (min-width: 768px) {
    height: 100%;
    margin: 0px;
}
  @media (min-width: 1024px) {
      width: 100%;
  }
}
.container-fluid {
  margin-left: 20px;
  h3 {
    font-size: 1rem;
    color: map-get($map: $paleta, $key: "seis");
    font-style: italic;
    margin-top: -6px;
    margin-bottom: -10px;
    @media (min-width: 768px) {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }
}

.card-body {
  @include flex(column, center);
  justify-content: space-around;
  width: 100%;
  padding: -1px 15px;
  margin: 0px;
  h4 {
    padding-top: 10px;
    font-size: 1.2rem;
    color: map-get($map: $paleta, $key: "seis");
    @media (min-width: 768px) {
      font-size: 1.5rem;
  }
}
  p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0px;
    line-height: 2rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1024px) {
      font-size: 1.3rem;
    }
  }
}

.card-img-top {
  padding-top: 10px;
  width: 70%;
  @media (min-width: 1024px) {
    width: 100%;
  }
}

.btn {
  background-color: map-get($map: $paleta, $key: "seis");
  color: map-get($map: $paleta, $key: "nueve");
  font-weight: bolder;
}
//Page "Sobre Mí"

.sobreMi__article {
  @include flex(column, center);
  font-size: 1rem;
  background-color: map-get($map: $paleta, $key: "nueve");
  width: 80%;
  height: auto;
  margin: 20px auto;
  border: dotted 6px map-get($map: $paleta, $key: "cinco");
  padding: 20px 20px;
  box-sizing: border-box;
  padding-top: 4px;
  line-height: 1.8rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.sobreMi__article--fotoMarian {
  width: 150px;
  padding-bottom: 20px;
  @media (min-width: 768px) {
    width: 300px;
  }
}

// Page "Faqs&Contacto"

span p{
    background-color: map-get($map: $paleta, $key: "seis");
      font-size: 1.4rem;
      font-weight: bolder;
      color: map-get($map: $paleta, $key: "nueve");
  text-align: center;
  margin: 20px;
  padding: 10px;
  @media (min-width: 1024px) {
    margin: 10px;
  }
    }


.card-title {
  text-align: center;
  font-weight: bolder;
}

.section_contacto{
margin: 20px;
}

.col-form-label {
  font-size: 1.2rem;
}

#formularioContacto {
  @include flex(column, center);
  font-size: 1.4rem;
  background-color: map-get($map: $paleta, $key: "cinco");
}

article {
  justify-content: center;
  h2 {
    font-size: 2rem;
  }
}

.img-thumbnail {
  width: 100%;
  height: 100%;
}

#imgFormulario{
  background-color: map-get($map: $paleta, $key: "cinco");
  padding-top: 6px;
  padding-bottom: 6px;
  img{
padding: 0px;
  }
}

//Page "Error 404"

.error404 {
  h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 20px;
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  padding: 50px 20px;
  @include flex(column, center);
  align-items: center;
  img {
    width: 100%;
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 1024px) {
      width: 60%;
    }
  }
  p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: map-get($map: $paleta, $key: "uno");
    @media (min-width: 728px) {
      font-size: 2.5rem;
    }
  }
  a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    &:hover {
      color: map-get($map: $paleta, $key: "seis");
    }
    @media (min-width: 728px) {
      font-size: 2.5rem;
    }
  }
}
