.footer {
  background-color: map-get($map: $paleta, $key: "cuatro");
  @include flex(column, flex-start);
  margin-left: 10px;
  div {
    margin-bottom: 10px;
  }
  h3 {
    color: map-get($map: $paleta, $key: "seis");
    font-size: 0.8rem;
  }
}

.footer__image {
  width: 70px;
}
.footer__icon {
  width: 20px;
  margin-left: 6px;
}

@media (min-width: 768px) {
  .footer {
    @include flex(row, center);
    justify-content: space-evenly;
    h3 {
      font-size: 1.2rem;
    }
  }
  .footer__image {
    width: 140px;
  }
  .footer__icon {
    width: 30px;
    margin-left: 6px;
  }
}
