//NavBar
.bg-nav {
  background-color: map-get($map: $paleta, $key: "cuatro");
  padding: 5px;
  ul li {
    margin-right: 20px;
    background-color: map-get($map: $paleta, $key: "cuatro");
  }
  a {
    @include texto(1rem, map-get($map: $paleta, $key: "nueve"), bolder);
    text-decoration: none;
    font-size: 1.2rem;
    &:hover {
      color: map-get($map: $paleta, $key: "seis");
    }
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
    position: sticky;
  }
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-toggler-icon {
  img {
    width: 100%;
  }
}

.navbar-brand {
  img {
    width: 60%;
    @media (min-width: 768px) {
      width:70%;
    }
    @media (min-width: 1024px) {
      width: 80%;
    }
  }
}

#navbarSupportedContent {
  z-index: 1;
}

.imgNav {
  width: 8%;
  margin: 4px;
  @media (min-width: 768px) {
    width: 5%;
  }
  @media (min-width: 1024px) {
    width: 60%;
  }
}

//Footer

.footer {
  background-color: map-get($map: $paleta, $key: "nueve");
  @include flex(row, center);
  justify-content: space-evenly;
  padding-top: 4px;
  h3 {
    color: map-get($map: $paleta, $key: "uno");
    font-size: 0.8rem;
    margin-bottom: 1px;
    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
    @media (min-width: 1024px) {
      font-size: 1.4rem;
    }
  }
}
.footer__image {
  width: 50px;
  @media (min-width: 768px) {
    width: 100px;
  }
}
.footer__icon {
  width: 20px;
  margin-left: 4px;
  padding-top: -20px;
  @media (min-width: 768px) {
    width: 30px;
  }
}
