.bg-nav {
  background-color: map-get($map: $paleta, $key: "cuatro");
  padding: 10px;
  ul li {
    margin-right: 20px;
    background-color: map-get($map: $paleta, $key: "cuatro");
  }
  a {
    @include texto(1rem, map-get($map: $paleta, $key: "siete"), bolder);
    text-decoration: none;
    padding: 10px;
    &:hover {
      color: map-get($map: $paleta, $key: "seis");
    }
  }
}

.imgNav {
  width: 4%;
}

nav img {
  width: 50%;
}

.navbar-toggler-icon {
  background-color: map-get($map: $paleta, $key: "ocho");
}

#nav1 {
  height: 15vh;
}

@media (min-width: 768px) {
  .bg-nav {
    background-color: map-get($map: $paleta, $key: "cuatro");
    ul li a {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  nav img {
    width: 70%;
  }

  #nav1 li a {
    font-size: 1.5rem;
  }

  .imgNav {
    width: 60%;
  }
}
