.nav2 {
    background-color: rgb(241, 192, 191);
    padding: 0.5rem;
    font-size: 1rem;
    li {
        list-style: none;
      }
      ul {
        padding-left: 0;
      }
  }

.row {
    justify-content: center;
  }
  
  .card {
    align-items: center;
    width: 80%;
  }
  
  .card-body{
    background-color: rgb(238, 227, 230);
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .card-img-top{
width: 100%;
background-color: rgb(238, 227, 230);

  }
 
  @media (min-width: 768px) {
    .card-body{
          p {
        font-size: 1.5rem;
      }
  }
}
  
  @media (min-width: 1024px) {
    .card {
      width: 100%;
    }

    .card-body{
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
}