@keyframes indexAnimation {
  0% {
    background-image: url(../img/index1.png);
  }
  20% {
    background-image: url(../img/index2.png);
  }
  40% {
    background-image: url(../img/index4.png);
  }
  60% {
    background-image: url(../img/index3.png);
  }
  80% {
    background-image: url(../img/index5.png);
  }
  100% {
    background-image: url(../img/index6.png);
  }
}

#portadaPage {
  height: 511px;
  width: 560px;
  animation-name: indexAnimation;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: cover;
}
